body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.appliance-entry {
  display: flex;
}

.appliance-input {
  width: 100%;
  margin: 0;
  padding: 0;
}
